<div style="text-align: center;">
	<div style="padding: 20px 0;">
	<?php $query_params = $this->request->query ?> 
    <?php $pages = ceil($count/12); ?>
    <?php if($pages > 1){ ?>
	
		<?
		$urls = explode('/',$this->request->url);

		foreach($urls as $key => $url){
			if($url=='')unset($urls[$key]);
					};

		if( is_numeric( end($urls) ) ){
			$query_params['page'] = array_pop($urls);
		};
		$linkStart = implode('/',$urls);

	 ?>
   
	<?php $currentPage = isset($query_params['page']) ? $query_params['page'] : 1 ?>
	<?php if($currentPage !== 1){ ?>
		<a class="pagination_button" href="/<?=$linkStart;?>/">назад</a>
	<?php } ?>
   
    <?php for($page = 1; $page <= $pages; $page++){ ?>
        <?php if($currentPage == $page){ ?>
            <a class="pagination_button" style="color:#000;background:#dedede;"><?=$page?></a>
        <?php }else{ ?>
        	<?php $query_params['page'] = $page; ?>
        	<?php $link = '/'.$linkStart.'/'; ?>
        	<?php foreach($query_params as $v){ ?>
        	<?php $link .= $v!==1 ? $v . '/' : ''; ?>
        	<?php } ?>
            <a class="pagination_button" href="<?=$link?>"><?=$page?></a>
        <?php } ?>
    <?php } ?>
    <?php $query_params['page'] = $pages; ?>
    <?php $link = '/'.$linkStart.'/'; ?>
	<?php foreach($query_params as $v){ ?>
	<?php $link .=  $v . '/'; ?>
	<?php } ?>
	<?if((int)$currentPage !== (int)$pages):?>
    <a class="pagination_button" href="<?=$link?>">вперед</a>
    <?endif?>
	<?php } ?>

	</div>
</div>