﻿/*@media screen and (min-device-width: 1600px) {
    div {width: 1500px;}
   }
   @media screen and (device-width: 1280px) {
    div {width: 1100px;}
   } 
   @media screen and (device-width: 1024px) {*/
   /*  div {width: 980px;} 
   }
*/
@font-face {
font-family: 'bitterregular';
src: url('../fonts/bitter-regular-webfont.eot');
src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
     url('../fonts/bitter-regular-webfont.woff') format('woff'),
     url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
font-weight: normal;
font-style: normal;
	}

@font-face {
font-family: 'bitterbold';
src: url('../fonts/bitter-bold-webfont.eot');
src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bitter-bold-webfont.woff2') format('woff2'),
     url('../fonts/bitter-bold-webfont.woff') format('woff'),
     url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
font-weight: normal;    
font-style: normal;
	}

@font-face {
font-family: 'bitteritalic'; 
src: url('../fonts/bitter-italic-webfont.eot');
src: url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bitter-italic-webfont.woff2') format('woff2'),
     url('../fonts/bitter-italic-webfont.woff') format('woff'),
     url('../fonts/bitter-italic-webfont.svg#bitteritalic') format('svg');
font-weight: normal;
font-style: normal;
	}

@font-face {
font-family: 'bitterbold_italic';
src: url('../fonts/bitter-bolditalic-webfont.eot');
src: url('../fonts/bitter-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bitter-bolditalic-webfont.woff2') format('woff2'),
     url('../fonts/bitter-bolditalic-webfont.woff') format('woff'),
     url('../fonts/bitter-bolditalic-webfont.svg#bitterbold_italic') format('svg');
font-weight: normal;
font-style: normal;
	}
		
@font-face {
font-family: 'robotoregular';
src: url('../fonts/Roboto-Regular-webfont.eot');
src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
     url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
font-weight: normal;
font-style: normal;
	}

body {
	margin:0 auto;
	background-color:#c0c0c0;
    width: 100%;
}

h1 {
	margin: 0 auto;
    padding-bottom: 20px;	
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
	}

h2{
	font-size: 16px;
	font-weight: 700;
}
p {
	margin:0 auto;
	padding:10px 0;
	right:0px;
}

a {

	}

table {
    display: table;
    width:100%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 5px;
    -webkit-border-vertical-spacing: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr th {
    text-align: -webkit-center;
    background-color: rgb(192, 192, 192);
    width: 30%;
    border: 8px solid #e5e5e5;
    padding: 6px;
    font-weight:normal;
    color: #050505;
}

td {
    background-color: #e5e5e5;
    display: table-cell;
    text-align: center;
    border: 5px solid #c1c1c1;
        color: #050505;
    padding: 6px 10px;
}

.container {
	margin: auto;
    width: 1000px;
    background-color: #fffffa;
    padding: 0 12px;}

.header {
	height: 238px;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


.header-main {
    height: 238px;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.line-color {
    background: #5e5e5e;
}

.header-line {
	height: 44px;
    background: linear-gradient(#e5e5e5 0%, #565656 100%);
    margin: 0 -12px 2px -12px;
    padding: 0 32px;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
    font-family: robotoregular, bitterregular, sans-serif;
	/* display: none; */
	}

.icon-soc {
	position: absolute;
    margin: -6px;
    width: 210px;
	height: 50px;
	}

.icon-soc a {
	padding: 0 60px 10px 0;
	}
	
.instagram {
	background:url(../images/icon-instagram.png) no-repeat;
	background-size:24px;
	position: relative;
	height:24px;
	}
	
.instagram:hover {
	background:url(../images/icon-instagram-hover.png) no-repeat;
	background-size:24px;
	height:24px;
	}

.email {
	background: url(../images/icon-email.png) no-repeat;
    background-size: 28px;
    position: relative;
	height:24px;
    top: 3px;
	}
	
.email:hover {
	background:url(../images/icon-email-hover.png) no-repeat;
	background-size: 28px;
    position: relative;
	height:24px;
    top: 3px;
	}

.logo {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    width: 200px;
    z-index: 999;
    height: 200px;
    margin: -16px -10px;
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0px 24px rgba(0,0,0,0.40);
    /* display: none; */
	}

.logo:hover {
    background: rgba(255, 255, 255, 1) url(../images/diskz.png) no-repeat;
	background-size: 200px;
	}
	
.logo a {
    font-size: 30px;
    text-transform: uppercase;
    color: #f8f8f8;
    font-family: robotoregular, bitterregular, sans-serif;
    margin: 48% 0% 0%;
    padding: 0px 50% 2%;
    position: absolute;
	}	
	
.logo a:hover {
	text-decoration:none;
	}
	
.imglogo {
	background: rgba(255, 255, 255, 1) url(../images/disk.png) no-repeat;
    background-size: 200px;
	}
	
.logo .left {
    left: 100%;
    position: relative;
	}

.logo .right {
	right:110%;
	position:absolute;
	}

.phone {
	display: initial;
    float: right;
	margin: 4px -10px;
    font-size: 24px;
	}

.phone a {
      font-size: 24px;
    text-transform: uppercase;
    color: #f8f8f8;
    font-family: robotoregular, bitterregular, sans-serif;
        }

.phone a:hover {
	text-decoration:none;
	}

.arrow {
	background: url(../images/header-image.png) no-repeat;
	width:200px;
	background-size: 65em;
	}

#pointer {
	width: 1024px;
    overflow: hidden;
    padding: 0px 0 19%;
    position: relative;
    /* background: url(../images/header-image.png) no-repeat; */
    /* background-size: 65em; */
    z-index: 0;
    left: -12px;
    top: 0;
    height: 0;
    /* -webkit-transition: padding 0.5s ease-out; */
    /* transition: padding 0.5s ease-out; */
    /* display: none; */
	}
  
#pointer:after {
	left: 31%;
    content: "";
    width: 100%;
    position: absolute;
    border-left: 100px solid transparent;
    border-top: 210px solid #8c8c8c;
  }

#pointer:before {
	bottom: 0;
    left: 31%;
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 210px solid rgba(222,187,8,0.87);
    border-left: 100px solid transparent;
	}

#header-rectangle {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -64%;
    /* -webkit-transition: padding 0.5s ease-out; */
    /* transition: padding 0.5s ease-out; */
    /* display: none; */
	}

#header-rectangle:after {
	top: 0;
    left: 60%;
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 136px solid rgba(222,187,8,0.87);
    border-left: 64px solid transparent
}

#header-rectangle .address {
	float: right;
    width: 33%;
    padding-top: 0;
    color: #f8f8f8;
    font-family: robotoregular, bitterregular, sans-serif;
    position: inherit;
	z-index: 9;
	}

p.address {
	text-align:center;
	}
	
p.address span {
	line-height: 2.5em;
	}
	
.admission {
    margin: 36px 0 42px 0;
    width: 1024px;
    background-color: #fffffa;
    /* padding: 0; */
	}

.main {
	width:100%;
}

.breadcrumbs {
	padding: 4px 16px 20px 10px;
	position:relative;
	}
	
.breadcrumbs img {
    width: 14px;
    padding-right: 5px;
    position: relative;
    top: 1px;
	}

.breadcrumbs a, .breadcrumbs span {
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #050505;
    text-decoration: none;
    padding: 0 1% 0 0;
    margin: 0 2px;
	text-transform: uppercase;
	}

.breadcrumbs span {
	font-weight: normal;
    margin-top: -4px;
	}

.breadcrumbs a:hover {
	color:#5d5d5d;
	text-decoration:none;
	}

.separator {
	background: url(/images/separator.png) no-repeat;
    height: 100%;
    width: 1%;
    background-size: 5px;
    position: relative;
    top: 4px;
    right: 2px;
	}
	
.breadlink {
	margin-top: -4px !important;
	}

.left_side {
	float: left;
    width: 28%;
    padding: 0 6pt;
    margin-top: -6px;
    position: relative;	
	}

.left_side .side_tile a {
	color:#050505;
}

.left_side .side_tile a:hover {
	color:#5d5d5d;
	}

.left_side .side_tile a img {   

}

.collection {
	border-radius: 13px
	}

#padding {
	margin-top:19px;
	}

.right_side {
	float: left;
    width: 70%;
    top: -4px;
    position: relative;
	}
	
.right_side .side_tile {
	padding: 20px;
}

#partners-title {
	width: 100%;
    overflow: hidden;
    position: relative;
    height: 30px;
	margin: 1% 0;
	}

#partners-title:after {
    bottom: 0;
    left: 56%;
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 30px solid rgba(222,187,8,0.87);
    border-left: 14px solid transparent;
	}

.partners {
    height: 140px;
    text-align: center;
    padding: 0px;
	bottom: 4px;
    font-family: robotoregular, bitterregular, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
	}

.partner-logo {
    height: 70%;
    margin: 16px 3px;
    border-radius: 13px;
    background: #fffffa;
    box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    padding: 4px;
    left: 2px;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
	}
	
.partners-text {
	color: #050505;
    line-height: 1.25em;	
    display: inline;
	padding: 4px 56px;
    float: right;
    z-index: 90;
    position: relative;
    font-family: robotoregular, bitterregular, sans-serif;
	}

.partners a {
	text-decoration:none;
	}

.partners a:hover {
	text-decoration:none;
	}
	
.main_side {

}

.remove_sides {
	clear:both;
	margin-bottom:20px;
}

.side_tile {
    background: #fffffa;
	padding: 10px 20px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 14px;
	font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
    text-transform: none;
    color: #050505;
    box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.side_heading {
    height: 30px;
    background: linear-gradient(#565656 0%, #c1c1c1 100%);
    padding: 6px 0;
    margin: 0 auto;
    font-weight: bold;
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 20px;
	letter-spacing: 0;
}

.side_heading span {
	color: #fffcfa;
    padding-left: 12px;
}

.side_heading h3 {
	margin:0;
	padding:2px 0 0 0;
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#fff;
}

.side_tile h4 {
	margin:0;
	font-style:italic;
}
.side_tile-gallery {
	border-radius: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.side_tile-gallery ul.level2 {
	width: 100%;
	margin: 4% auto 0;
	padding: 7.5% 0;
}

.side_tile ul.level2 {
	top: 0;
	position: relative;
	left: -30%;
}

.side_tile ul.level2 li {
    padding: 10px 0 0;
    font-size:11px;
    width: 100%;
}

.side_bottom_right {
	display:none;
	height:12px;
	background:url(../images/content-bottom.jpg);
	background-repeat:no-repeat;
}

.side_bottom_left {
	display:none;
	height:12px;
	background:url(../images/content-bottom2.jpg);
	background-repeat:no-repeat;
}

.side_bottom_main {
	display:none;
	height:12px;
	background:url(../images/content-bottom3.jpg);
	background-repeat:no-repeat;
}

.content {
	/*font-family:robotoregular;
    font-size: 18px;
    line-height: 18px;*/
}
.contentll {
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 1.7em;
    letter-spacing: 1px;
    color: #050505;
}

.description {
    position: relative;
	display: block;
    padding: 20px 10px;
	min-height: 120px;
	bottom: 10px;
}

.table {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000;
}

.black {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	color:#050505;
	text-align:justify;
}	

.menu-line {
	background: #5e5e5e;
    width: 1000px;
    height: 49px;
    position: absolute;
	}

.top_menu {
	position: relative;
    height: 40px;
    width: 1024px;
    background: linear-gradient(#e5e5e5 0%, #565656 100%);
    padding-top: 10px;
    display: flex;
    margin: -12px;
    padding: 12px 0px 6px 0;
    top: 12px;
    /*-left: 0;
	-webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -khtml-transform: translate(50%, 0)
    transform: translate(-50%, 0);*/
	}

.top_menu li.delimiter {
	/*border-left: 1px solid #acabab;*/
	padding: 2px 0px;
}

.top_menu li.delimiter:first-child {
	border-left: none;
}

.top_menu ul.level1 {
    margin: 0 auto;
	padding: 0 0;
    list-style: none;
    left: 0;
    position: relative;
    /*-khtml-padding-start: 8px;
    -moz-padding-start: 8px;
    -webkit-padding-start: 8px;
    -webkit-margin-before: 0;
    /*-webkit-margin-after: 0;*/
}

.top_menu ul.level1 li {
	float:left;
}

.top_menu ul.level1 li a {
	color: #fffcfa;
    text-decoration: none;
    padding: 0 8px;
	font-size: 16px;
    text-transform: uppercase;
    line-height: 1.8;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.top_menu ul.level1 li  a:hover {
	color:#050505;
	text-decoration:none;
}

#gallery {
	position: relative;
	clear: both;
    margin: 0 auto;
    width: 260px;
	visibility: hidden;
	overflow:hidden;
    z-index: 999999999;
    display: table;
}

#gallery ul.level2 {
	position: relative;
    left: 0;
}

#gallery-link {
	width: 108%;
	overflow: hidden;
	position: relative;
	height: 36px;
	margin: 0 auto;
    }
    
#gallery-link:before {
	bottom: 0;
	left: 0;
	content: "";
	width: 87%;
	position: absolute;
	border-top: 30px solid rgba(222,187,8,0.87);
	border-right: 14px solid transparent;
}

#gallery-link li {
	width: 70%;
	position: relative;
}

#gallery-link li.no-list {
	width: 89%;
	position: absolute;
	margin: 4% 0;
	/*height: 300px; //по высоте не скринится*/
	}

#gallery-link li.no-list a {
    line-height: 1.25em;
	padding-left: 3%;
	text-decoration: none;
	font-weight:600;
	}

#gallery-link li.no-list a:hover {
	color: rgb(150, 150, 150);
    line-height: 1.25em;	
	}

ul.level2 li.no-list a {
	color:#050505;
	display:block;
	}

ul.level2 li.no-list {
    list-style: none;
}

#news {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:233px;
	top:175px;
	text-align:left;
	overflow:auto;
	clear:both;
}

#gallery ul.level2, #news ul.level2 {
    margin: auto 0;
    padding: 16px 24px;
    list-style: none;
    background-color: #4C4C4C;
}

#gallery ul.level2 li, #news ul.level2 li {
	padding: 4px 0;
	}

#gallery ul.level2 li a, #news ul.level2 li a {
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

#gallery ul.level2 li a:hover, #news ul.level2 li a:hover {
	color:#ccc;
	text-decoration:none;
	overflow:hidden;
}

#gallery ul.level2 {
	position: relative;
    left: 0;
}

#gallery_type {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:230px;
}

#gallery_items {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:255px;
}

#auto_gallery_type {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:280px;
}

#auto_gallery_items {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:320px;
}

#disc_gallery_type {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:360px;
}

#disc_gallery_items {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:400px;
}

#damaged_disc {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:435px;
}

#price1 {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:60px;
}

#price2 {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:100px;
}

#price3 {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:140px;
}

#price4 {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:180px;
}

#vak_khrom {
	z-index:1;
	top:55px;
}

#galv_khrom {
	z-index:1;
 	/*padding-left:155px;*/
	top:800px;
}

#em_kraski {
	z-index:1;
	top:1300px;
}

#por_kraski {
	z-index:1;
	top:1900px;
}

#inkr_swarovski {

	z-index:1;
	top:2600px;
}

#vid_diskov {
	z-index:1;
	top:1000px;
}

#kak_vib {
	z-index:1;
	top:4100px;
}

#ukhod_diska {
	z-index:1;
	top:4900px;
}

#news_type {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:475px;
}

#news_items {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:500px;
}

#news_items_images {
	position:absolute;
	z-index:1;
	visibility:hidden;
 	padding-left:155px;
	top:525px;
}

.error {
	max-width: 720px;
    overflow: hidden;
    margin: 0 auto;
}

ul.second_level {
	margin:0;
	padding:0;
	list-style:none;
	border:1px #ccc solid;
	background-color:#fff;
}

ul.second_level li {
	padding:2px 5px;
}

ul.second_level li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#666;
	text-decoration:none;
	white-space:nowrap;
}

ul.second_level li a:hover {
	color:#999;
	text-decoration:none;
}

.icons {
	text-align:right;
	padding-right:30px;
	padding-top:5px;
}

.bottom {
	padding:10px 0;
	text-align:center;
	background-color:#C0C0C0;
}

.bottom a, a {
	color:#5d5d5d;
	font-family: robotoregular, bitterregular, sans-serif;
    font-size: 14px;
    line-height: 1.4;
	letter-spacing: 1.2px;
    text-decoration: none;
}

.bottom a:hover, a:hover {
	color:#050505;
	text-decoration:none;
}

.news {
	color:#050505;	
	}

.top_icons {
	margin:0 5px;
}

.bullet {
	width:11px;
	height:11px;
	margin:0 5px 0 10px;
}

.auto-gallery {
	padding: 0 0 0 1%;
}
	
.auto {
	float: left;
    width: 30%;
    margin: 10px;
    height: 450px;
    box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    display: table;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.auto img {
	width: 100%;
	margin-bottom: 20px;
}

.auto a.link_text {
    display: block;
	padding: 6px 8px;
	color:#050505;
	font-weight:600;
    font-size: 16px;	
	text-decoration: none;
}

.auto a.link_text:hover {
	color:rgb(102,101,100);
	font-size: 16px;
}
}

.news a.link_text {
    font-family: bitterregular, robotoregular, sans-serif;
    font-weight: bold;
    color: #050505;
    text-decoration: underline;
    line-height: 1.5em;
	font-size: 14px;
}

.news a.link_text:hover {
	color:#666;
	text-decoration:none;
}

.photo-pagination{
    margin: 0 0 30px;
    position: relative;
    height: 40px;
}

.photo-pagination-button {
    height: 30px;
    background: linear-gradient(#565656 0%, #c1c1c1 100%);
    padding: 7px 13px;
    font-weight: bold;
    font-family: robotoregular, bitterregular, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    color: #fff;
    line-height: 30px;
	position:absolute;
}
.photo-pagination-button.prev{
	left:0;
}
.photo-pagination-button.next{
	right:0;
}

.link_button {
	display:none;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 5% 24%;
    width: 51%;
}

.link_button:hover {
    border: 1px solid;
	text-decoration:none;
}

a.link_text2 {
	font-family: bitterregular, tahoma, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#666;
	text-decoration:underline;
}

a.link_text2:hover {
	color:#666;
	text-decoration:none;
}

a.disabled {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#ccc;
	text-decoration:underline;
}

.center {
	text-align: center;
}

.auto_gallery_item {
    margin-bottom: 4px;
    width: 100%;
}

.auto_item {
    text-align: center;
    padding: 16px 15px;
    box-shadow: 0px 0 20px 5px rgba(0,0,0,0.25), 0 5px 20px 5px rgba(0,0,0,0.22);
    margin-top: 0;
	width: auto;
}

.auto_item .description {
    padding: 0;
    margin: 0;
    position: relative;
}
s
.header_flash {
	margin-left:58px;
	height:159px;
}

.map {
	border:1px #C0C0C0 solid;
	margin-top:5px;	
	width:700px;
	height:448px;
}

.big {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:15px;
	letter-spacing:1px;
	color:#464B51;
	text-align:center;
}

.underlined {
	text-decoration:underline;
}

.italic {
	color:#000;
}

.padding {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	color:#333;
	text-align:center;
}

.error_text {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
}


#popup {
	position: relative;
	z-index:1000;
}

#popup2 {
	position: relative;
	z-index:999;
}

#popup span, #popup2 span {
	position: absolute;
	border:1px #C0C0C0 solid;
	background-color: #515151;
	padding: 5px 5px;
	visibility: hidden;
	color: #fff;
	white-space:nowrap;
}

#popup:hover span, #popup2:hover span {
	visibility: visible;
	top: 0;
	left: -10px;
}

#popup span a, #popup2 span a {
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	text-decoration:none;
}

#popup span a:hover, #popup2 span a:hover {
	background-color: #fff;
	color:#848484;
	text-decoration:none;
}

.side_tile ul {
	margin:auto;
}

.side_tile ul li {
	padding-right:7px;
    list-style-type: disc;
	text-align: left;
}

.side_tile ul li a:hover {
	color:#5d5d5d;
	text-decoration:none;
}

#popup_left {
	position: relative;
}

#popup_left span {
	position: absolute;
	border:1px #ccc solid;
	background-color: #fff;
	padding: 2px 2px;
	visibility: hidden;
	white-space:nowrap;
}

#popup_left:hover span {
	visibility: visible;
	top: 0;
	left: 155px;
}

#popup_left span a {
	font-size:10px;
	font-weight:bold;
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	color:#666;
}

#popup_left span a:hover {
	color:#999;
}

.news_title {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:15px;
	color:#50575F;
}

.news_description {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#000;
}

.news_date {
	font-family: robotoregular, bitterregular, sans-serif;
	font-size:11px;
	font-style:italic;
	color:#50575F;
}

.news_image_section {
	overflow:auto;
	text-align:center;
}

.news_image {
	width:90px;
	height:62px;
	margin-right:5px;
}

.clear {
	clear:both;
}

.news_item {
	padding:15px;
	margin-left:4px;
	margin-top:15px;
	border:1px #ACABAB solid;
}

.gallery-content{
	padding: 0 20px;
}

.pagination_button {
	background: white;
    box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    padding: 5px 10px;
}

.footer {
	text-align: center;
    padding: 16px;
    background: linear-gradient(#e5e5e5 0%, #565656 100%);
    margin: 0 -12px;
	}

.footer a {
    color:#fffcfa;
	font-size: 14px;
}

.footer a:hover {
	color:#050505;
}