<?php
$this->assign('title', 'Тюнинг-Хром хромирование и никелирование дисков и деталей, ремонт покраска дисков, гальваника и вакуумное хромирование - Виртуальная примерка дисков');
$this->assign('seo_description', 'Наша компания занимается гальваническим хромированием никелированием дисков и деталей, ремонтом и покраской дисков автомобилей, мотоциклов, а также инкрустацией стразами Swarovski ');
$this->assign('seo_keywords', 'тюнинг, хром, хромирование, никелирование, гальваника, хромирование дисков, никелирование дисков, хромирование деталей, никелирование деталей, покраска дисков, гальваническое хромирование, ремонт диска, хромирование авто, хромированные диски, тюнинг авто, виртуальная примерка дисков');
?>
<div class="main_side">
    <div class="side_heading line-color">
	<span>Виртуальная примерка дисков</span>
	</div>
    <div class="side_tile" align="center">
        <script type="text/javascript">
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','900','height','600','src','index','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','index', 'menu', 'false'); //end AC code
        </script>
        <div class="remove_sides"></div>
    </div>

</div>