<div class="top_menu line-color">
    <ul class="level1">
        <!--<li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 1])?>">Главная</a></li>//-->
        <li></li>
        <li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 2])?>/">О компании</a></li>
        <li></li>
        <li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 3])?>/">Услуги</a></li>
        <li></li>
		<li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 10])?>/">Доставка и оплата</a></li>
        <li></li>
		<li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 4])?>/">Цены</a></li>
        <li></li>
        <li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 6])?>/">Контакты</a></li>
        <li></li>
        <li class="delimiter"><a href="<?=Router::url(['controller' => 'pages', 'action' => 'show', 7])?>/">Вопросы и ответы</a></li>
    </ul>
</div>